<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container">
  <h1 style=" text-align:center;font-size: 6vw; font-family: cursive; font-style: italic; color: white;">
    Podcast Directory</h1>
  <div>
    <h3 style="font-family: cursive; color: white;">Javascript Jabber</h3>
    <h4 style="color: white;"> <strong>405</strong> Followers | <strong>453</strong> Episodes</h4>
    <p style="color: white;">Weekly podcast discussion about Javascript on the front and back ends. Also
      discuss programming practices, coding
      environments, and the communities related to the technology.</p>
  </div>
  <data-table></data-table>
</div>

<router-outlet></router-outlet>